body {
  background: #63818a;
  background: -moz-linear-gradient(top, white 0%, white 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, white));
  background: -webkit-linear-gradient(top, white 0%, white 100%);
  background: -o-linear-gradient(top, white 0%, white 100%);
  background: -ms-linear-gradient(top, white 0%, white 100%);
  background: linear-gradient(top, white 0%, #white 100%);
  color: black;
  font-family: Helvetica !important;
   }

h1, h2, h3, h4, h5, h6 {
  color: #4f7b94; }

a:link {color: #6bbaed; font-weight: bold;}
a:active {color: #6bbaed; font-weight: bold;}
a:visited {color: #6bbaed; font-weight: bold;}
a:hover {color: #64addd; font-weight: bolder;}

.bigtable tr {
  border: 1px solid #363d52;
  padding: 3px 4px 3px 4px;
}

table.pane > tbody > tr > td:last-child {
border-right: none;
}

.top-sticker-inner {
  background: #EFEFEF;
}

#dashboard {
    border: solid 1px #303e51;
}

#top-panel {
  background: url("headerbackground.png"); }
  #top-panel td#login-field span a {
    background: none; }
  #top-panel td #searchform a {
    background: none;
    height: auto;
    width: auto; }
  #top-panel td > a {
    background: url("appkickJenkinsLogo.png") 0 0 no-repeat;
    display: block;
    width: 200px;
    height: 56px;
    margin: 10px 10px 10px 10px; }
    #top-panel td > a img {
      display: none; }
      
#left-top-nav {
  border-left: none; }


#main-table {
  border-top: 0;
  border-bottom: 0; }

#description div {
  font-size: 1.3em; }

#footer {
   border-top: none !important;
}

#view-message #description a img {
  padding-right: 4px; }
